{
  "extends": "airbnb-base",
  "plugins": ["import"],
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "no-console": "off",
    "comma-dangle": "off",
    "implicit-arrow-linebreak": "off",
    "function-paren-newline": "off"
  }
}
