.header__email {
  font-family: "inter", sans-serif, Arial;
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .header__email {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .header__email {
    font-size: 15px;
  }
}
