.container{
    width:69%;
    margin: 0 auto;
    position: relative;
}

@media screen and (min-width: 320px) and (max-width: 768px){
    .container{
        width: 100%;
    }


}
@media screen and (max-width: 320px){
    .container{
        width: 100%;
    }
}
