.form__button {
  width: 80%;
  background-color: black;
  color: white;
  margin: 5% 10%;
  font-family: "Inter", Arial, sans-serif;
  font-size: 25px;
  line-height: 120%;
  text-align: center;
  padding: 5% 0;
  cursor: pointer;
}

.form__button:hover {
  opacity: 70%;
}

.form__button_inactive {
  color: #b8b8b8;
  background: #ededed;
  pointer-events: none;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .form__button {
    font-size: 20px;
  }
}

@media screen and (max-width: 320px) {
  .form__button {
    font-size: 20px;
  }
}
