.card__name{
    font-family: "Inter",Arial, sans-serif;
    font-size: 24px;
    line-height: 121%;
    color: black;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width:85%;
    padding: 10% 10% 10% 2%;
    margin: 0%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    border: white solid 1px;
}

@media screen and (min-width: 768px) and (max-width: 1280px){
    .card__name{
        font-size: 20px;
        margin-right: 2%;

    }
}

@media screen and (max-width: 768px){
    .card__name{
        font-size: 16px;
        margin-right: 2%;
        width:88%;

    }
}